.common-dropdown{
    position: relative;
}

.common-dropdown .dropdown-menu{
    min-width: 265px;
} 

.common-dropdown .dropdown-menu .dropdown-item{
                    padding: 12px 16px; display: inline-block;
                    color: var(--light-gray);   
                }