.login-image {
    height: 250px;
    width: 450px;
    border-right: 1px dotted green;
    margin-top: 5px;
    padding-right: 10px;
    object-fit: cover;
}


.login-input{
    /* background-color: rgb(72, 66, 153); */
    margin-left: 1rem;
    padding-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-image: url('../assets/login.jpg'); */
    background-repeat: no-repeat;
  background-position: center;
  /* background-size: auto 200px; */
  /* width: 100%; */
  margin: 0 0.75rem 0 0.75rem; 
}
/* floating labels */
.form-floating {
  position: relative;
  /* margin-bottom: 1rem; */
}

.form-floating input {
  padding: 1.25rem 0.75rem 0.35rem 0.75rem;
  height: auto;
  width: 100%;
  font-size: 1rem;
  border: 1px solid var(--border-color);
  border-radius: 5px;
}

.form-floating label {
  position: absolute;  box-shadow: none !important;
  height: 24px;
  top: 0.75rem;
  left: 0.75rem;
  transition: all 0.2s ease;
  /* color: #777; */
  pointer-events: none;
  padding: 0 5px;
  background: transparent;
}

.form-floating input:focus + label,
.form-floating input:not(:placeholder-shown) + label {
  top: -0.3rem;
  left: 0.65rem;
  font-size: 1rem;
  color: var(--light-gray); 
  
  /* background: var(--primary-color); */ 
    background: #023864; z-index: 23; box-shadow: none !important; border-radius: 2px;

  }
  .view-password{
    position: absolute;
    display: block; right: 1rem; top: 1rem;
 
    /* margin-left: 5rem; */
    justify-self: flex-end;
    cursor: pointer;
  }
  .account{
    cursor: pointer;
    color: rgb(174, 174, 185);
  }
.account:hover{
    color: white;
}

.pagebody{
  background: #1f7f9c;
  background: linear-gradient(75deg,rgba(32, 49, 66, 1) 0%, rgb(47, 75, 92) 48%, rgba(4, 28, 62, 1) 100%);

  /* background: radial-gradient(circle,rgba(85, 106, 115, 1) 0%, rgba(110, 115, 128, 1) 28%, rgba(102, 82, 102, 1) 65%, rgba(32, 31, 46, 1) 100%); */
}
.login-bx{
  /* background: linear-gradient(215deg, #262a33, #333944); */

  /* background: var(--primary-color); */
  background: #2e3547;
  background: linear-gradient(45deg,rgba(34, 92, 128, 1) 0%, rgba(38, 128, 140, 1) 50%, rgba(72, 126, 172, 1) 100%);
  border: #25A2B3 1px solid;



}
.login-bx .form-control{
  border: var(--primary-color) 1px solid;
  background: #023864;
  position: relative;
}

.login-bx .btn-primary{
  background: #023864 !important; padding: 12px 24px;
  color: var(--light-gray);
}

.login-bx .line1{
  content: "";
  position: absolute; width: 10px; height: 60px; 
  border-right: #68FFF8 1px solid;
  right: -1px; top:10%;
  z-index: 3;
}